<!DOCTYPE html>
<html>
<head>
    <title>{{ article.title }}</title>
</head>
<body>

<pre><a href="/articles">bak</a></pre>
<h1>{{ article.title }}</h1>
<h2>{{ article.time }}</h2>
<p>{{ article.content }}</p>

<pre>generated: {{ generated }}</pre>
</body>
</html>